.aboutMe {
  background-color: $background-blueDark;
  width: 100%;

  &-container {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    @media (min-width: 1200px) {
      top: 100px;
    }
  }

  &__img {
    margin-top: 200px;
    padding-bottom: 128px;
    @media (max-width: 857px) {
      display: none;
    }
  }

  &__text {
    margin: 0 2rem;
    &--head {
      font-size: 64px;
      text-align: center;
      color: #ffffff;
      font-weight: bold;

      @media (max-width: 450px) {
        font-size: 48px;
    }
    }

    &--paragraph {
      font-size: 18px;
      text-align: left;
      color: #ffffff;
      line-height: 3em;
    }
  }
}
