.services {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 64px;
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.sercives__container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.sercives__header {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  @media (max-width: 1080px) {
    font-size: 48px;
  }

  @media (max-width: 700px) {
    font-size: 36px;
  }
}

.service {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem 1rem;

  &__name {
    font-size: 24px;
    margin-left: 32px;

    @media (max-width: 600px) {
      font-size: 16px;
  }
  }
}

.service__icon {
  @media (max-width: 500px) {
    transform: scale(0.7);
}
}
