@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import "~normalize.css";
@import "_variables";
@import "modules/hero.scss";
@import "modules/navigation.scss";
@import "modules/profits.scss";
@import "modules/about.scss";
@import "modules/services.scss";
@import "modules/statistics.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // margin: 0;
  // padding: 0;
}